.gap {
    padding: 20px;
}

.gap h4 {
    text-align: center;
    margin-top: 3%;
}

.gap h1 {
    text-align: center;
    color: #74be43;
}

.about-1 {

    padding: 3% 3%;
}

.about-icon {

    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 15px 16px;
}
.footer{
    background-color: #807f7f;
    height: 200px;
    display:  flex;
    justify-content: center;
    align-content: center;
}
.p-1{
    width: 70%;
}
.p-2{
    color: white;
    width: 70%;
}
.line{
    content: '';
    margin-top: 12px;
    width: 60%;
    height: 1px;
    background: black;
    opacity: 0.3;
}