.gap-t h3 {
    color: #807f7f;
    padding: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 3vw;
}

.center {
    text-align: center;
}

.gap-line {
    content: '';
    padding: 2px;
    width: 10%;
    margin: auto;
    background-color: #74be43;

}
